<div class="container-fluid gray"><br><br><br><br><br><br><br>
  <div class="row text-center">
    <div class="col-md-4">
          <!-- Choose glyphicon glyphicon-screenshot-->
      <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
      <h3>Choose the best !</h3>
      <p></p>
        </div>
        <div class="col-md-4">
          <!-- Size -->
           <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      <h3>size just for you !</h3>
      <p></p>
        </div>
        <div class="col-md-4">
          <!-- report -->
           <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
      <h3>generate free report !</h3>
      <p></p>
     </div>
  </div><br><br><br><br><br><br><br>
</div>