 <style type="text/css">
    a {text-decoration: none;}
   a:hover {text-decoration: none;}
  </style>
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="logo">
      <h13>  PUMPS</h13>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



    <!-- Text link -->

    <%= link_to "contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>

</div>

</div>