<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" -%>
<%= wicked_pdf_stylesheet_link_tag "badges" -%>
<%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
<div class="navbar-wagon">
  <!-- Logo -->

      <h13 class="btn btn-primary">  PUMPS</h13>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right ">



    <!-- Text link -->

    <p>contact: cyril.ferte@contactory.co</p>

</div>

</div>