

<%= render "reportnavbar.html.erb" %>
<div class="container">Model
  Applications
Features
</div>
<div class="container">your instalations

</div>
<div class="container">serie ou paralel 

</div>
<div class="container">compatibilité

</div>
<div class="container">compatibilité

</div>
<div class="container">Technical data

</div>
<div class="container">Constructive characteristics


</div>
<div class="container">Use limits

</div>
<div class="container">Materials

</div>
<div class="container">dimention

</div>
<div class="container">buy links

</div>